In [1]:
#事前準備
import pandas as pd
data = pd.read_table("/Users/mugikurashuta/Program/Anaconda/Lang_Nock100/2nd/popular-names.txt", header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

In [2]:
#10
print(len(data))
df = pd.read_table('./popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])

2780

In [3]:
#12
col1=data["name"]
col2=data["sex"]
col1.to_csv("/Users/mugikurashuta/Program/Anaconda/Lang_Nock100/2nd/col1_python.txt",index=None,header=None)
col2.to_csv("/Users/mugikurashuta/Program/Anaconda/Lang_Nock100/2nd/col2_python.txt",index=None,header=None)

In [4]:
#13
merge_col=pd.concat([col1, col2], axis=1)

In [5]:
#14
number=int(input())
first_data=data[0:number]
print(first_data)

2
   name sex  number  year
0  Mary   F    7065  1880
1  Anna   F    2604  1880

In [6]:
#15
number=int(input())
end_data=data[len(data)-number:]
print(end_data)

2
       name sex  number  year
2778  Mason   M   12435  2018
2779  Logan   M   12352  2018

In [7]:
#16
def split_file(N):
    tmp = data.reset_index(drop=False)
    df_cut = pd.qcut(tmp.index, N, labels=[i for i in range(N)])
    df_cut = pd.concat([df, pd.Series(df_cut, name='sp')], axis=1)

    return df_cut

df_cut = split_file(10)
print(df_cut['sp'].value_counts())

0    278
1    278
2    278
3    278
4    278
5    278
6    278
7    278
8    278
9    278
Name: sp, dtype: int64

In [8]:
#17
print(len(df.drop_duplicates(subset='name')))

136

In [9]:
#18
df.sort_values(by='number', ascending=False, inplace=True)
print(df.head())

         name sex  number  year
1340    Linda   F   99689  1947
1360    Linda   F   96211  1948
1350    James   M   94757  1947
1550  Michael   M   92704  1957
1351   Robert   M   91640  1947

In [10]:
#19
print(df['name'].value_counts())

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Lori         1
Laura        1
Scott        1
Tracy        1
Rachel       1
Name: name, Length: 136, dtype: int64